#container
{
    text-align: center;
    font-size: 30px;
    background-color: aqua;
    border: solid lightslategray 5px;
    display: flex;
    height: 300px;
    /*flex-direction: row-reverse;*/
    /*flex-direction:column-reverse;*/
    /*justify-content: center;*/
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: start; */
    flex-wrap:wrap ;
}
.item
{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: solid aqua;
}
#item1
{
    align-self: center;
    order: 3;
}
#item3
{
    align-self: center;
    flex-shrink: 5;   
    /* default is 1 for all */
    order: 1;
}
#item2
{
    flex-grow: 2;
    order: 5
}
#item5
{
    flex-grow: 1;
    order: 2;
}
#item6
{
    order: 4;
}
#item4
{
    order: 6;
}