#container
{
    text-align: center;
    font-size: 30px;
    background-color: aqua;
    border: solid lightslategray 5px;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 300px 200px 200px;
    gap: 10px;
    /* align-items: end; */
    /* horizontal */
    /* justify-items: center;  */
    /* vertical */
}
.item
{
    /* width: 100px;
    height: 100px; */
    background-color: brown;
    border: solid aqua;
}
#item3
{
    grid-column-start: 1;
    grid-column-end: 5;

}
#item1
{
    /* grid-row-start: 1;
    grid-row-end: 5; */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1/5;
}
#item6
{
    grid-column: 2/4;
}